body{
    font-family: 'Jost', sans-serif;  
    line-height: 1.7em;
  }

  .header {
   
    background-image:url(https://images.unsplash.com/photo-1471560090527-d1af5e4e6eb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    width: 100%; 
    
  }
  .header-img {
    width: 100%;
  }

  h1 {
    font-size: 50px;
    text-align: center;
    

  }
  h2 {
    font-size: 40px;
  
  }
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  align-items: center;
  opacity: 0.8;
  width: 100%;
  height: 70px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 2px 20px;
  display: flex;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

img { 
     width: 80%;
     height: auto;
     top: 50%;     
     left: 50%;
}
.index-container 
{
  display: flex;
  width: 100%; 
  justify-content: space-evenly;
}